/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@1,600;1,700&display=swap");

/* setting */
@import "reset.css";

/* components */
@import "components/menu-bar.css";
@import "components/fix-kakao.css";

/* screens */
@import "screens/index.css";

body {
  /* background-color: white; */
  font-family: "KoHo", sans-serif;
  height: 500vh;
  background-color: rgba(0, 0, 0, 0.8);
}
