/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@1,600;1,700&display=swap");

/* setting */
@import "reset.css";
@import "variable.css";

/* components */
@import "components/menu-bar.css";
@import "components/fix-kakao.css";
@import "components/intro.css";
@import "components/sub-intro.css";
@import "components/tier.css";

/* screens */
@import "screens/index.css";
@import "screens/price.css";

body {
  background-color: rgb(21, 10, 32);
  background-color: beige;
  font-family: "KoHo", sans-serif;
  box-sizing: border-box;
}

main {
  box-sizing: border-box;
  margin-top: 63px;
  width: 100%;
}

.margin-box {
  margin: 5%;
}
