.intro {
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.intro img {
  width: 100%;
  height: auto;
}

.intro__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-weight: 600;
}

.intro__text-box--normal {
  color: white;
  font-size: 30px;
}

@media screen and (min-width: 420px) {
  .intro__text-box {
    font-size: 20px;
  }
  .intro__text-box--normal {
    font-size: 40px;
  }
}

@media screen and (min-width: 645px) {
  .intro__text-box {
    font-size: 30px;
  }
  .intro__text-box--normal {
    font-size: 50px;
  }
}

@media screen and (min-width: 900px) {
  .intro__text-box {
    font-size: 40px;
  }
  .intro__text-box--normal {
    font-size: 60px;
  }
}

@media screen and (min-width: 1300px) {
  .intro__text-box {
    font-size: 50px;
  }
  .intro__text-box--normal {
    font-size: 70px;
  }
}

.intro__text {
  margin: 3% 0%;
  text-align: center;
}

@media screen and (min-width: 420px) {
  .intro__text {
    margin: 3% 0%;
  }
}

@media screen and (min-width: 645px) {
  .intro__text {
    margin: 4% 0%;
  }
}

@media screen and (min-width: 900px) {
  .intro__text {
    margin: 5% 0%;
  }
}
