.sub-intro__text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border-top: 2px solid rgba(255, 255, 255, 0.3); */
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  /* border-bottom: 2px solid rgba(255, 255, 255, 0.3); */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.sub-intro__text-box span {
  margin: 2%;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 700;
  font-size: 10px;
}

.sub-intro__text-box--notice span {
  margin: 1%;
}

.sub-intro__text-box span:first-child {
  margin-top: 3%;
}

.sub-intro__text-box span:last-child {
  margin-bottom: 3%;
  color: red;
}

@media screen and (min-width: 420px) {
  .sub-intro__text-box span {
    font-size: 16px;
  }

  .sub-intro__text-box--notice-content span {
    font-size: 12px;
  }
}

@media screen and (min-width: 645px) {
  .sub-intro__text-box span {
    font-size: 20px;
  }

  .sub-intro__text-box--notice-content span {
    font-size: 16px;
  }
}

@media screen and (min-width: 900px) {
  .sub-intro__text-box span {
    font-size: 25px;
  }

  .sub-intro__text-box--notice-content span {
    font-size: 14px;
  }
}

@media screen and (min-width: 1500px) {
  .sub-intro__text-box--notice-content span {
    font-size: 20px;
  }
}
